In [10]:
import pandas  as pd
d1={"name":["Ram","Raj","Ravi"],"age":[20,21,22]}
d2={"qualified":[True,False,False]}
df1=pd.DataFrame(d1)
print("Df1:\n",df1)
df2=pd.DataFrame(d2)
print("Df2:\n",df2)
newdf=df1.join(df2)
print("joining:\n",newdf)

Df1:
    name  age
0   Ram   20
1   Raj   21
2  Ravi   22
Df2:
    qualified
0       True
1      False
2      False
joining:
    name  age  qualified
0   Ram   20       True
1   Raj   21      False
2  Ravi   22      False

In [34]:
import pandas as pd
df1=pd.DataFrame([[11,12],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum()>b.sum()):
        return a
    else:
        return b
print(df1)
print(df2)
print(df1.combine(df2,myfunc))

    0   1
0  11  12
1   3   4
   0  1
0  5  6
1  7  8
    0   1
0  11  12
1   3   4

In [3]:
import pandas as pd
df1={"name":['sai','sub','poc'],"age":[20,21,22]}
df2={"name":["yuvi","nithika","sanjay"],"age":[20,21,22]}
d1=pd.DataFrame(df1)
print("Df1:\n",d1)
d2=pd.DataFrame(df2)
print("Df2:\n",d2)
newdf1=d2.merge(d1,on="age")
newdf2=d1.merge(d2,on="age")
print("Left Merge :\n",newdf1)
print("Right Merge :\n",newdf2)

Df1:
   name  age
0  sai   20
1  sub   21
2  poc   22
Df2:
       name  age
0     yuvi   20
1  nithika   21
2   sanjay   22
Left Merge :
     name_x  age name_y
0     yuvi   20    sai
1  nithika   21    sub
2   sanjay   22    poc
Right Merge :
   name_x  age   name_y
0    sai   20     yuvi
1    sub   21  nithika
2    poc   22   sanjay

In [5]:
df=pd.DataFrame({'team':['A','B','C','D'],
                 'points':[90,80,70,60],
                 'assist':[12,34,23,29],
                 'rebounds':[50,60,65,70]})
print(df)
df=pd.melt(df,id_vars='team',
           value_vars=['points','assist','rebounds'])
print("\n Reshape:\n",df)

  team  points  assist  rebounds
0    A      90      12        50
1    B      80      34        60
2    C      70      23        65
3    D      60      29        70

 Reshape:
    team  variable  value
0     A    points     90
1     B    points     80
2     C    points     70
3     D    points     60
4     A    assist     12
5     B    assist     34
6     C    assist     23
7     D    assist     29
8     A  rebounds     50
9     B  rebounds     60
10    C  rebounds     65
11    D  rebounds     70