In [13]:
import pandas as pd
car_selling_data={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai',
                           'Toyato','Mahindra','Mahindra','Ford','Toyato','Ford'],
                 'year':[2010,2011,2009,2013,2010,2011,2010,2013,2010,2010,2011,2011],
                 'Sold' :[6,7,9,8,3,5,2,8,7,2,4,2]}
df=pd.DataFrame(car_selling_data)
print("\n Original DataFrame:\n",df)
grouped=df.groupby('year')
print("\n Group by year :\n",grouped.get_group(2010))

 Original DataFrame:
        Brand  year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyato  2010     2
7   Mahindra  2013     8
8   Mahindra  2010     7
9       Ford  2010     2
10    Toyato  2011     4
11      Ford  2011     2

 Group by year :
       Brand  year  Sold
0    Maruti  2010     6
4   Hyundai  2010     3
6    Toyato  2010     2
8  Mahindra  2010     7
9      Ford  2010     2

In [19]:
student_Data={'Name':['sai','raj','yuva','ram','sam','sanju','ravi','shree','niki','rahul'],
             'Roll no':[20,25,20,32,69,32,30,70,44,36],
             'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxx@gmail.com','xx@gmail.com',
                      'xxxx@gmail.com', 'xxxxx@gmail.com','xxxxx@gmail.com', 'xxxxx@gmail.com',
                      'xxxxx@gmail.com', 'xxxxxx@gmail.com']}
df=pd.DataFrame(student_Data)
print("\nOriginal DataFrame:\n",df)
non_duplicate = df[~df.duplicated('Roll no')]
print("\nRemoved duplicated rows:\n",non_duplicate)

Original DataFrame:
     Name  Roll no             Email
0    sai       20    xxxx@gmail.com
1    raj       25  xxxxxx@gmail.com
2   yuva       20  xxxxxx@gmail.com
3    ram       32      xx@gmail.com
4    sam       69    xxxx@gmail.com
5  sanju       32   xxxxx@gmail.com
6   ravi       30   xxxxx@gmail.com
7  shree       70   xxxxx@gmail.com
8   niki       44   xxxxx@gmail.com
9  rahul       36  xxxxxx@gmail.com

Removed duplicated rows:
     Name  Roll no             Email
0    sai       20    xxxx@gmail.com
1    raj       25  xxxxxx@gmail.com
3    ram       32      xx@gmail.com
4    sam       69    xxxx@gmail.com
6   ravi       30   xxxxx@gmail.com
7  shree       70   xxxxx@gmail.com
8   niki       44   xxxxx@gmail.com
9  rahul       36  xxxxxx@gmail.com

In [21]:
details=pd.DataFrame({'ID':[101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME':['Arun', 'Praveen', 'Harish','Pooja', 'Rahul', 'Naresh','Saurabh','Anush','Dinesh',
'Mohit'],'BRANCH':['Mech', 'Mech', 'CSE', 'CSE', 'CSE', 'EEE','EEE', 'ECE', 'ECE', 'IT']})
print("\nOriginal DataFrame 1:\n", details)
fees_status=pd.DataFrame ({'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['5000', '250', 'NIL', '9000', '15000', 'NIL', '4500', '1800', '250', 'NIL']})
print("\nOriginal DataFrame:\n", fees_status)
print("\nMerged Dataframe\n",pd.merge(details,fees_status,on='ID'))

Original DataFrame 1:
     ID     NAME BRANCH
0  101     Arun   Mech
1  102  Praveen   Mech
2  103   Harish    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
5  106   Naresh    EEE
6  107  Saurabh    EEE
7  108    Anush    ECE
8  109   Dinesh    ECE
9  110    Mohit     IT

Original DataFrame:
     ID PENDING
0  101    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL

Merged Dataframe
     ID     NAME BRANCH PENDING
0  101     Arun   Mech    5000
1  102  Praveen   Mech     250
2  103   Harish    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Naresh    EEE     NIL
6  107  Saurabh    EEE    4500
7  108    Anush    ECE    1800
8  109   Dinesh    ECE     250
9  110    Mohit     IT     NIL

In [23]:
one = pd.DataFrame({
'Name':['Sai','Sub','Poo','Yuvasri','Rithika'],
'subject_id':['sub1','sub2','sub4','sub6','sub5'],
'Marks_scored':[98,95,96,92,88]},
index=[1,2,3,4,5])
two=pd.DataFrame({
'Name':['Sanjay','Sangamithra','Rubasri','Nikesh','Somanath'],
'subject_id':['sub2','sub4','sub3','sub6','sub5'],
'Marks_scored':[86,95,87,99,91]},
index=[1,2,3,4,5])
print("\nOriginal DataFrame 1:\n",one)
print("\nOriginal DataFrame 2:\n",two)
print(pd.concat([one,two]))

Original DataFrame 1:
       Name subject_id  Marks_scored
1      Sai       sub1            98
2      Sub       sub2            95
3      Poo       sub4            96
4  Yuvasri       sub6            92
5  Rithika       sub5            88

Original DataFrame 2:
           Name subject_id  Marks_scored
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91
          Name subject_id  Marks_scored
1          Sai       sub1            98
2          Sub       sub2            95
3          Poo       sub4            96
4      Yuvasri       sub6            92
5      Rithika       sub5            88
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91