In [30]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['alice','bob','charlie','alice','bob','charlie'],
                'Category':['A','B','C','A','B','C'],
                 'Value':np.random.randint(1,5,size=6),
                'score':np.random.randint(60,100,size=6)})
print("\nDataFrame:\n",df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("\n groupby and aggregate with one column :\n",df1)

DataFrame:
       Name Category  Value  score
0    alice        A      4     79
1      bob        B      1     83
2  charlie        C      4     65
3    alice        A      3     99
4      bob        B      4     80
5  charlie        C      3     86

 groupby and aggregate with one column :
       Name  Value
0    alice      7
1      bob      5
2  charlie      7

In [50]:
df2=df.groupby(('Name'),as_index=False)[['Value','score']].sum()
print("\n group and aggregate with two columns sum :\n",df2)

 group and aggregate with two columns sum :
       Name  Value  score
0    alice      7    178
1      bob      5    163
2  charlie      7    151

In [52]:
df3=df.groupby(('Name'),as_index=False)['Value'].agg('sum')
print("\ngroupby and aggregate with one column :\n",df3)

groupby and aggregate with one column :
       Name  Value
0    alice      7
1      bob      5
2  charlie      7

In [60]:
df4=df.groupby(('Name')).agg({'Value':['sum','mean','min','max'],
                             'score':['sum','mean']})
print("\n groupby name and multiple aggregation :\n",df4)

 groupby name and multiple aggregation :
         Value              score
          sum mean min max   sum  mean
Name
alice       7  3.5   3   4   178  89.0
bob         5  2.5   1   4   163  81.5
charlie     7  3.5   3   4   151  75.5

In [64]:
df5=df.groupby(('Name'),as_index=False)['Value'].count()
print("\n group and count :\n",df5)

 group and count :
       Name  Value
0    alice      2
1      bob      2
2  charlie      2

In [66]:
df6=df.groupby(('Name')).count()
print("\n group and count :\n",df6)

 group and count :
          Category  Value  score
Name
alice           2      2      2
bob             2      2      2
charlie         2      2      2

In [72]:
df7=df.groupby(('Name'),as_index=False)['Value'].first()
print("\n group and display from first:\n",df7)
df8=df.groupby(('Name')).first()
print("\n group and display from first:\n",df8)

 group and display from first:
       Name  Value
0    alice      4
1      bob      1
2  charlie      4

 group and display from first:
         Category  Value  score
Name
alice          A      4     79
bob            B      1     83
charlie        C      4     65

In [76]:
df9=df.groupby(('Name'),as_index=False)['Value'].last()
print("\n group and display from last:\n",df9)
df10=df.groupby(('Name')).last()
print("\n group and display from last:\n",df10)

 group and display from last:
       Name  Value
0    alice      3
1      bob      4
2  charlie      3

 group and display from last:
         Category  Value  score
Name
alice          A      3     99
bob            B      4     80
charlie        C      3     86

In [80]:
df11=df.groupby(('Name'),as_index=False)['Value'].size()
print("\n group and display size-:\n",df11)
df12=df.groupby(('Name')).size()
print("\n group and display size:\n",df12)

 group and display size:
       Name  size
0    alice     2
1      bob     2
2  charlie     2

 group and display size:
 Name
alice      2
bob        2
charlie    2
dtype: int64