In [7]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

import pandas as pd
emp=pd.Series(['dharshan','sudeep','siva','yash','keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'Id':id}
result=pd.DataFrame(frame)
print("\n series to DataFrame \n")
print(result)

In [11]:
print("\nExtracting one column\n")
print(result['Emp'])

Extracting one column

0     dharshan
1       sudeep
2         siva
3         yash
4    keerthana
Name: Emp, dtype: object

In [13]:
print("/n adding new column:\n")
result['ID']=pd.Series([80,90,28,56,89])
result['Age']=pd.Series([19,90,34,67,20])
print(result)

/n adding new column:

         Emp  Id  ID  Age
0   dharshan  80  80   19
1     sudeep  90  90   90
2       siva  28  28   34
3       yash  57  56   67
4  keerthana  49  89   20

In [15]:
print("\n Deleting new column:\n")
del result['Age']
print(result)

 Deleting new column:

         Emp  Id  ID
0   dharshan  80  80
1     sudeep  90  90
2       siva  28  28
3       yash  57  56
4  keerthana  49  89

In [17]:
print("\n extracting the second row:\n")
print(result.loc[1])

 extracting the second row:

Emp    sudeep
Id         90
ID         90
Name: 1, dtype: object

In [19]:
print("Slice rows:\n",result[1:4])

Slice rows:
       Emp  Id  ID
1  sudeep  90  90
2    siva  28  28
3    yash  57  56

In [23]:
print("\ndeleting particular row:\n",result.drop(2))

deleting particular row:
          Emp  Id  ID
0   dharshan  80  80
1     sudeep  90  90
3       yash  57  56
4  keerthana  49  89